main{
    background: rgb(133, 66, 21);
}
header {
    background-color: #feebd0;
    color: #fff;
    text-align: center;
    font-size: 40px;
    padding-top: 1px;
    justify-content: center;
    height: 22vh;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.9); 

}
ul{
    list-style: none;
}
img{
    display: flex;
    height: auto;
    width: 22vh;
    margin-left: 5vh;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #3f000b;
    padding:2px;
    margin-top: -15vh;
    margin-left: 50vh;
}

.navbar a {
    font-family: 'Bradley Hand ITC', serif;
    color: #feebd0;
    text-decoration: none;
    margin: 10px;
    font-size: 23px;
    padding: 20px;
    font-weight: 700;
}

.navbar  :hover{
color: #ffffff;
transition: .5s;
}

.cardsection {
    background: rgb(117, 82, 18);    margin-top: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 0 30px;
    position: relative;
    overflow: hidden;
    height: 70vh;
    width: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    background-color: #ea6a08;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    margin-top: 20px;
    margin-left: 20px;
    width:42vh;
    height: 35vh;
    align-content: center;
    border: #0e0e0e solid 4px;
    background-color: #feebd0;

}

.card h4,
.card h3,
.card p {
    padding: 10px;
    text-align: center;
    font-family: 'Acme', sans-serif;

}

.card h4 {
    margin-top: 10px;
    color: #5a1f06;
    font-size: 20px;
}

.card h3 {
    margin-top: -25px;
    font-size: 35px;
    line-height: 40px;
    color: #5a1f06;

    
}

.card p {
    margin-top: -20px;
    background-color: #ea590c;
    color: #5a1f06;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
}

.card p:hover {
    background-color: #8aceff;
    color: #0e0e0e;
}

.begin {
    margin-top: 30px;
    background: rgb(111, 58, 22);    padding: 40px;
    color: #ffffff;
}

.start {
    display: flex;
    flex-direction: column;
    max-width: 600px; 
    margin: 0 auto; 
}

.text-container {
    margin-left: -45vh;
    margin-top: 10vh;
}

.start p,
.start h1,
.start h2 {
    margin: 30px;
}

.start button {
    background-color: #800020;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 2em;
    cursor: pointer;
    margin: 5px;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    font-family: 'Fira Sans', sans-serif;

}

.start button:hover {
    background: transparent;
    color: #5a1f06;
    border: solid #fff 2px ;
    transition: .5s;
}

.start img {
    width: 100%; 
    height: auto;
    border-radius: 50%;
    margin-left: 60vh; 
    order: 2;
    margin-top: -65vh;
}
.start p {
    font-size: 30px;
    font-family: 'Fira Sans', sans-serif;

}
.start h1 {
    font-size: 50px;
    font-family: 'Kenia', sans-serif;


}
.start h2 {
    margin-left: -1vh;
    margin-top: -1vh;
    font-size: 80px;
    font-family: 'Pacifico', cursive;


}
.button-container{
    margin-left: -44vh;
    margin-top: 5vh;
}
.chocolates{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    height: 50%;
    width: auto;
}
.headline{
    background: rgb(75, 30, 2);
    padding: 20px;
    color: #ffffff;
    margin-top: 40px;
}
.headline div{
    margin-left: 10vh;
    font-family: 'Kenia', sans-serif;
    font-size: 30px;
    text-decoration: underline;
}
.chocolates{
    background-color: #8c4a08;
}
.chocolates div{
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.chocolates img {
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}
.choco:hover{
    transform: scale(1.1);
    transition: all 0.3s ;
}

footer{
    display: flex;
    justify-content: space-around;
    padding: 0;
    padding : 20px;

}
footer img {
    margin-left: -10vh;
}
.footerbar{
    margin-left: -20vh;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: .5px;
    font-family: 'Algerian', sans-serif;
}
footer a {
    color: #5a1f06;
    text-decoration: none; 
}
footer a:hover {
    text-decoration: underline;
}
form {
    width: 300px;
    margin: 0 auto;
    font-family: 'Acme', sans-serif;

}

input[type="text"], input[type="email"], input[type="tel"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #12eab8;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #e70978;
}